.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  color: #0d58a6;
  font-size: 1.2rem;
  height: 100px;
}

.logo {
  margin-right: auto;
  height: 50px;
}

.logo-image {
  height: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #0d58a6;
  cursor: pointer;
  margin-top: 12px;
  font-weight: bold;
  font-size: 20px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 0;
  width: 250px;
  background-color: white;
  color: #0d58a6;
  padding: 0.5rem 0;
  list-style: none;
  border: 1px solid #fff;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  cursor: pointer;
}

.open {
  display: block;
}

.left-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.topLeft-container {
  display: flex;
}

.button-css {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  color: #0d58a6;
}

.button-css:hover {
  cursor: pointer;
}

.button-css::selection {
  color: #7fc602;
}

.bottomLeft-container {
  display: flex;
  justify-content: flex-end;
}
