.container-media {
  margin: 20px 50px;
}

.account-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privacy-content {
  display: flex;
  justify-content: center;
  margin-bottom: 500px;
}

.terms-content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
}

.revised-date {
  display: flex;
  justify-content: center;
}

.privacy-link {
  color: #df4851;
}