.footerContainer {
  display: flex;
  background-color: #0d58a6;
  color: white;
  justify-content: space-around;
}

ul > li {
  list-style-type: none;
}

.underlineText:hover {
  text-decoration: underline;
}
