.container {
  background-color: #0d58a6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.flexDisplay {
  display: flex;
}

.underlineText:hover {
  text-decoration: underline;
}
